*.pyc
*~
__pycache__
env
db.sqlite3
.DS_Store
._*

sonet/settings/local.py
sonet/special/

media
static

logs
supervisor
important_info.txt
word_cloud
server_setup.txt
test.py
notes.py
nginx_backups.txt
node_modules
soNodeOperatorData.json
.soSecret.key
soSecret.key
.sync_remote_hasher.py

prev_reqs/

pyenv
.env
.venv
env/
venv/
nodenv/
.sync
.vscode


pyrefly.toml
pyrightconfig.json
._pyrightconfig.json
