{% load static %}

<div class='card' id='{{ post.id }}'>
    <div class='profile'>
        <span class="material-symbols-outlined">contract</span>
    </div>

    <div class='cardContent'>
        <div class='Info'>
            <div class='Details'>
                <div class='title shorten2'><a href='' >Sender: {{ post.SenderWallet_obj }}</a></div>
                <div class='title shorten2'><a href='' >Receiver: {{ post.ReceiverWallet_obj }}</a></div>
                <div class='title'><a href='' >ID: {{ post.id }}</a></div>
            </div>
        </div>

        <div class='TextContent'>
            <ul class='Text'>
                <li style='margin-top:15px;'>value: {{ post.token_value }}</li>
                <li style='margin-top:15px;'>re: {{ post.regarding }}</li>
                <li style='margin-top:15px;'>enacted: {{ post.enacted }}</li>
            </ul>
        </div>
    </div>

<div class="miniMore", title='More' onclick="react('more','{{post.id}}')"><span class="material-icons">more_horiz</span></div>
</div>
<div class='bottomDivider'></div>