

<div class='Parl'>
                        
    {% if g %}
        <div>{{ g.Government_obj.gov_type|short_gov }} {{ g.Government_obj.GovernmentNumber }}.{{ g.Government_obj.SessionNumber }}</div>
    {% comment %}
        {% if isMobile %}
        {% else %}
            <div>{{ g.Government_obj.GovernmentNumber|get_ordinal }} {{ g.Government_obj.gov_type|short_gov }} {{ g.Government_obj.SessionNumber|get_ordinal }} Sess.</div>
        {% endif %}
        {% if g.objType == 'Meeting' and g.hide_time == 'hour' %}
            {% if isMobile %}
                <div>{{ g.DateTime|timezonify:g|date:"M. j, Y" }} x1</div>
            {% else %}
                <div>{{ g.DateTime|timezonify:g|date:"F. j, Y" }} x2</div>
            {% endif %}
        {% else %}
            <div>{{ g.DateTime }} x3</div>
        {% endif %}
    {% endcomment %}
    <div>{{ g.DateTime|timezonify:g|date:"F. j, Y" }}</div>
    {% endif %}
</div>