
{% load static %}

<div id="response-wrapper">
{% if is_mobile %}

        <div class="mobile_navigation">
            <ul>
                <br>
                <br>
                <li style='font-size:130%'><a href='/{{ country.Name|lower }}/legislature'>Legislature</a></li>
                <ul class='navSubmenu' id='legislature'>    
                    {% if gov %} 
                        {% for i in gov.menuItem_array %}
                        <li><a href='/{{ country.Name|lower }}/{{i|lower}}'>{{ i }}</a></li>
                        {% endfor %}
                    {% endif %}
                <br>
                <br>
                </ul>
            </ul>
        </div>
        
{% else %}


            <li style="margin-top: 20px;"></li>
            <li style='font-size:130%'><a href='/{{ country.Name|lower }}/legislature'>Legislature</a></li>
            <ul class='navSubmenu' id='legislature'>    
                {% if gov %} 
                    {% for i in gov.menuItem_array %}
                    <li><a href='/{{ country.Name|lower }}/{{i|lower}}'>{{ i }}</a></li>
                    {% endfor %}
                {% endif %}
            <br>



{% endif %}
</div>

