{% load static %}

<div class='drawer2'>

    <div class='navTop'>   
        <div class='searchTab' id='searchBox'>Plays</div>
        <div class='searchTab right'><span class="material-icons">help</span></div>
    </div>
    <div class='mobileNavigation'>
        {% comment %}
        <div class='searchTabContent stayShowing block' id='messages'>
            <ul>
                {% for n in notifications %}
                    <li class='notification' id={{ n.id }}><a href={{ n.link }} style='text-decoration:none;'>{{ n.title }}</a><span onclick="removeNotification('{{ n.id }}')">X</span></li>
                {% endfor %} 
            </ul>
        </div>
        {% endcomment %}
    
    

    </div>


</div>