{% load static %}


<div id='index'>
{% if sonet %}
    <a href='/' class='navTop'>   
        <div class='shadow'></div>
        <img id='logo' src={% static sonet.LogoLink %}>
        <div class="net-title-container">
        {% if sonet.Title == 'Nonet' %}
        <h1 class="net-title">SoSayTest</h1>
        <div class="net-subtitle">Decentralized Democracy</div>
        {% else %}
        <h1 class="net-title">{{ sonet.Title }}</h1>
        <div class="net-subtitle">{{ sonet.Subtitle }}</div>
        {% endif %}
        </div>
    </a>
{% else %}

    <div class='navTop'>   
        <div class='shadow'></div>
        <br>
        <br>
        <h1><span style="cursor: pointer;" onclick="modalPopUp('Login', '/accounts/login-signup')">CREATE</span></h1>
    </div>
{% endif %}
    <div id='navigation'>
        {% include 'index_navigation.html' %}
    </div>

</div>